
.container {
    height: 696px;
    padding-left: 64px;
    padding-top: 260px;
    box-sizing: border-box;
}

.title {
    width: 571px;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    margin-bottom: 16px;
    color: var(--inputs);
}

.text {
    width: 550px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 40px;
    color: var(--inputs);
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 173px;
    font-weight: 500;
    height: 56px;
    border-radius: 200px;
    padding: 16px 45px;
    background-color: var(--button);
    color: var(--white);
}

.link:hover, .link:focus {
    background-color: var(--button-hover);
}